@charset "UTF-8";


/*
Paleta de cores
Verdes: #49a09d
lilas:#5f2c82
*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,html{
    background-color:#5f2c82;

    height: 100%;
    width: 100%;
}
main{
    position: relative;
    width:  100vw;
    height:100vh;
}





section#login{
   
    background-color:white;
    width: 250px;
    height: 500px;
    border-radius:20px;
    box-shadow:0px 0px 10px black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
overflow:hidden;

transition: width 0.5s ,height 0.5s;
transition-timing-function: ease;
    



}
section#login>div#imagem{
    display:block;
    background:#5f2c82 url(../imagens/pexels-donaldtong94-55787\ \(1\).jpg) no-repeat;
    background-size: cover;
    height: 200px;


}
    section#login>div#form{
        display:block;
        padding:10px;
    }
        div#form>h1{
            text-align:center;
            margin-bottom: 10px;
        }
        div#form>p{
            font-size:0.8em;
        }
        form>input[type=submit]{
            display:block;
            font-size: 1em;
            width:100%;
            height:40px;
            background-color: #49a09d;
            color: white;
            margin-top:10px;
            border: none;
            border-radius: 5px;
            
        }
         form>input[type=submit]:hover{
            cursor:pointer;
            background-color: #326b69;


         }
         form>a.botao{
            display: block;
            text-decoration: none;
            text-align: center;
            font-size:1em;
            background-color: #5bc0bc;
            border: 1px solid #3aa4a0;
            width:100%;
            height:40px;
            border-radius: 5px;
            padding-top: 5px;
            margin-top: 5px;
            color:#244d4b
         }
         form>a.botao>i{
            font-size: 0.8em;
         }

